*
!/environment
!/ini
!/modulos
!/README.md
!/LEIAME.TXT
!/pdv_cripto.sh
!/pdv_descanso.sh
!/pdv_FULL-upgrade.sh
!/pdv_get-ip.sh
!/pdv_release.sh
!/pdv_root-on-ssh.sh
!/pdv-sfix.sh
!/pdv_status.sh
!/pdv-sync
!/environment/lib.sh
!/environment/pdv_env
!/ini/pdv.ini
!/modulos/pdv_zmwsinfo.sh
!/modulos/ssh-keyscan.sh
